*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Lato', sans-serif;
}
html::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
      background-clip: content-box; 
}


html::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #cc7a8b;
}